/* Most stuff copied from the default hakyll css */
html {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.5;
}

body {
  color: #515151;
}

pre {
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: none;
}

header {
  border-bottom: 2px solid #2da49b;
}

section > p {
  text-align: justify;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #2da49b;
  margin: 1em 0;
  padding: 0;
}

nav {
  text-align: right;
  font-family: 'Raleway', sans-serif;
  weight: 600;
}

nav a {
  font-size: 110%;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  color: #2da49b;
}

a {
  color: #2380c2;
  text-decoration: none;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

footer {
  margin-top: 2rem;
  padding: 0.8rem 0;
  margin-bottom: 0.2rem;
  border-top: 2px solid #2da49b;
  font-size: 75%;
  color: #656565;
}

h1 {
  font-size: 145%;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  weight: 600;
}

h2 {
  font-size: 125%;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.7rem;
  margin-bottom: 0rem;
  weight: 600;
}

h3 {
  font-size: 110%;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.4rem;
  margin-bottom: 0rem;
  weight: 600;
}

h4 {
  font-size: 107%;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.2rem;
  margin-bottom: 0rem;
  weight: 600;
}

article .header {
  font-size: 90%;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #2da49b;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  weight: 600;
}

table {
  border-collapse: collapse;
}

tr, td {
  padding: 0;
}

.posts-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.posts-table td {
  padding: 0.7rem;
  vertical-align: top;
}

.posts-table-date {
  text-align: center;
  whitespace: nowrap;
  overflow: hidden;
  width: 10%;
}

.posts-table-title {
}

.tags > a {
  color: #79871b !important;
  text-decoration: none;
}

.tags > a:not(:last-child):after {
  content: "," !important;
  color: #515151;
}

.posts-table-tags, .posts-table-tags a {
  font-size: 92%;
}

.posts-table-description {
  color: #838383;
  font-style: italic;
  font-size: 85%;
}

.posts-table tr:first-child td {
  border: none;
}

.posts-table td {
  border-top: 1px solid #e3e3e3;
}

.talks-location {
  color: #79871b !important;
}

sup {
  vertical-align: super;
  font-size: small;
}

li:target {
  background-color: #dff2f0;
}

blockquote {
  font-style: oblique;
  padding-left: 0.8em;
  border-left: 2px solid #e0e0e0;
}

.MathJax_Display {
  margin: 0 !important;
  overflow-y: hidden;
  display: block;
}

.info {
  display: block;
  background-color: #e5f2ff;
  border-left: 0.23em solid #92c3f2;
  padding: 0.2em 0em 0.2em 0.6em;
  font-size: 90%;
}

.success {
  display: block;
  background-color: #e6fff6;
  border-left: 0.23em solid #a5f0d5;
  padding: 0.2em 0em 0.2em 0.6em;
  font-size: 90%;
}

.warn {
  display: block;
  background-color: #fffae0;
  border-left: 0.23em solid #f2e3a5;
  padding: 0.2em 0em 0.2em 0.6em;
  font-size: 90%;
}

.error {
  display: block;
  background-color: #ffeded;
  border-left: 0.23em solid #f7b5b5;
  padding: 0.2em 0em 0.2em 0.6em;
  font-size: 90%;
}

@media (max-width: 419px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  html {
    font-size: 12pt;
  }
  pre {
    font-size: 10.5pt;
  }
  code {
    font-size: 10pt;
  }
  header {
    margin: 2rem 0;
  }
  nav {
    margin: 0 auto 1rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 1rem;
  }
  .logo a {
    font-size: 150%;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 420px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  html {
    font-size: 13pt;
  }
  pre {
    font-size: 11.5pt;
  }
  code {
    font-size: 10pt;
  }
  header {
    margin: 2rem 0;
  }
  nav {
    margin: 0 auto 1rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 1rem;
  }
  .logo a {
    font-size: 150%;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (max-width: 449px) {
  .MathJax_Display {
    font-size: 83%;
  }
}

@media (min-width: 450px) {
  .MathJax_Display {
    font-size: 92%;
  }
}

@media (min-width: 900px) {
  body {
    width: 42rem;
    margin: 0 auto;
    padding: 0;
  }
  html {
    font-size: 14pt;
  }
  pre {
    font-size: 12pt;
  }
  code {
    font-size: 11pt;
  }
  header {
    margin: 0 0 2rem;
    padding: 0.7rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 115%;
  }
  .MathJax_Display {
    font-size: 98%;
  }
}
