:root {
  --color-fg: #515151;
  --color-bg: #ffffff;

  --font-serif: 'Source Serif Pro';
  --font-sans-serif: 'Raleway';
  --font-monospace: 'Fira Code';

  --color-dark-mode-disabled: #c0c0c0;

  --color-grey-1: #656565;
  --color-grey-2: #838383;
  --color-grey-3: #aaaaaa;
  --color-grey-4: #e3e3e3;

  --color-primary: #0097c9;

  --color-blue-bg: #e5f2ff;
  --color-blue-border: #92c3f2;
  --color-green-bg: #e6fff6;
  --color-green-border: #a5f0d5;
  --color-yellow-bg: #fffae0;
  --color-yellow-border: #dbcd93;
  --color-red-bg: #ffeded;
  --color-red-border: #f7b5b5;

  --color-yellow-highlight-bg: #fcfaa4;

  --color-code-fg: #5c7078;
  --color-code-bg: #f5f5f5;
  --color-code-highlight-bg: #fefcbf;
  --color-code-comment: #93a1a1;
  --color-code-function: #268bd2;
  --color-code-type: #b58900;
  --color-code-builtin: #268bd2;
  --color-code-variable: #268bd2;
  --color-code-keyword: #859900;
  --color-code-constant: #268bd2;
  --color-code-number: #6c71c4;
  --color-code-string: #6c71c4;
  --color-code-doc: #93a1a1;
  --color-code-preproc: #b58900;
  --color-code-error: #dc322f;
  --color-code-other: #5c7078;

  --color-inline-code-fg: #BF616A;
  --color-inline-code-bg: var(--color-code-bg);
}

[data-theme="dark"] {
  --color-fg: #c5d3e0;
  --color-bg: #12141b;

  --color-dark-mode-disabled: #707070;

  --color-grey-1: #c0c0c0;
  --color-grey-2: #a5a5a5;
  --color-grey-3: #6a6a6a;
  --color-grey-4: #555555;

  --color-primary: #00afe8;

  --color-blue-bg: #27383b;
  --color-blue-border: #73adba;
  --color-green-bg: #294030;
  --color-green-border: #79b089;
  --color-yellow-bg: #4a3d2c;
  --color-yellow-border: #a8a163;
  --color-red-bg: #472e34;
  --color-red-border: #b36974;

  --color-yellow-highlight-bg: #575236;

  --color-code-bg: #282936;
  --color-code-fg: #d1e2e6;
  --color-code-highlight-bg: #47442e;
  --color-code-comment: #a8a8a8;
  --color-code-function: #e0abc2;
  --color-code-type: #8ae4f2;
  --color-code-builtin: #bfebe0;
  --color-code-variable: #00d3d0;
  --color-code-keyword: #c0b0f5;
  --color-code-constant: #00bcff;
  --color-code-number: #79a8ff;
  --color-code-string: #79a8ff;
  --color-code-doc: #b0d6f5;
  --color-code-preproc: #f4923b;
  --color-code-error: #ff8059;
  --color-code-other: #d1e2e6;

  --color-inline-code-fg: #cf8f95;
  --color-inline-code-bg: var(--color-code-bg);
}

/* main */
html {
  font-size: 18px;
  text-size-adjust: none;
  font-family: var(--font-serif), serif;
  line-height: 1.5;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
  max-width: 770px;
  margin: auto;
  padding: 0 40px;
}

::selection {
  color: #ffffff;
  background: var(--color-primary);
}

::-moz-selection {
  color: #ffffff;
  background: var(--color-primary);
}

/* nav */

header {
  border-bottom: 2px solid var(--color-primary);
  margin: 0.5rem 0 2rem;
  padding: 0.7rem 0;
}

header a {
  color: var(--color-primary);
  text-decoration: none;
  border: none;
}

header a:hover {
  color: var(--color-primary);
  background-color: var(--color-bg);
}

nav {
  text-align: right;
  font-family: var(--font-sans-serif), sans-serif;
  weight: 600;
  margin: 0;
}

nav a {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0 1rem;
  display: inline;
}

.nav-link {
  color: var(--color-primary);
}

.logo {
  margin: auto;
  text-align: left;
}

.logo a {
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-primary);
  font-family: var(--font-sans-serif), sans-serif;
}

/* dark mode */
#dark-mode-toggle {
  cursor: pointer;
  font-size: 1.1em;
  margin-left: 1rem;
  display: inline;
}

.dark-mode-enabled {
  color: var(--color-primary);
}

.dark-mode-enabled:hover {
  color: var(--color-dark-mode-disabled);
}

.dark-mode-disabled {
  color: var(--color-dark-mode-disabled);
}

.dark-mode-disabled:hover {
  color: var(--color-primary);
}

/* links */

a {
  color: inherit;
  border-bottom: 1px solid var(--color-primary);
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: var(--color-primary);
}

.footnote-ref {
  border-bottom: none !important;
  color: var(--color-primary);
}

.footnote-ref:hover {
  border-bottom: none !important;
  color: var(--color-fg) !important;
}

/* footer */

footer {
  margin-top: 2rem;
  padding: 0.8rem 0;
  margin-bottom: 0.2rem;
  border-top: 2px solid var(--color-primary);
  font-size: 0.75em;
  color: var(--color-grey-1);
  text-align: right;
}

footer span.copyright {
  margin-right: 0.6em !important;
}

.footer-icon {
  color: var(--color-primary);
  border: none !important;
}

/* paragraphs */

p {
  margin: 1rem 0;
}

/* headings */

h1 {
  font-size: 1.5em;
  font-family: var(--font-sans-serif), sans-serif;
  font-weight: 600;
  margin: 2em 0 1.2em;
}

h2 {
  font-size: 1.3em;
  font-family: var(--font-sans-serif), sans-serif;
  font-weight: 600;
  margin: 1.8em 0 1.2em;
}

h3 {
  font-size: 1.1em;
  font-family: var(--font-sans-serif), sans-serif;
  font-weight: 600;
  margin: 1.6em 0 1em;
}

h4 {
  font-size: 1em;
  font-family: var(--font-sans-serif), sans-serif;
  font-weight: 600;
  margin: 1.4em 0 1em;
}

/* content */

article .header {
  font-size: 0.85em;
  font-style: italic;
}

article .description {
  font-size: 0.85em;
  font-style: italic;
  color: var(--color-grey-2);
}

article .content {
  margin-top: 2rem;
}

blockquote {
  font-style: oblique;
  padding-left: 0.88em;
  border-left: 2px solid var(--color-primary);
  margin: 1rem 0;
  margin: 1.6rem 0 1.6rem 1rem;
}

/* table of contents */

#toc {
  padding-left: 1rem;
  font-size: 0.8em;
}

#toc ul {
  padding-inline-start: 1.2rem;
}

/* tables */
table {
  max-width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  border-collapse: collapse;
}

@media screen and (max-width: 469px) {
  table {
    display: block;
  }
}

table td {
  border-top: 1px solid var(--color-grey-3);
  border-bottom: 1px solid var(--color-grey-3);
  border-left: 1px solid var(--color-grey-4);
  border-right: 1px solid var(--color-grey-4);
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

table th {
  border-bottom: 2px solid var(--color-grey-3);
  border-left: 1px solid var(--color-grey-4);
  border-right: 1px solid var(--color-grey-4);
}

table tr th:first-child {
  border-left: 0;
}

table tr th:last-child {
  border-right: 0;
}

th, td {
  padding: 0.6rem !important;
  font-size: 0.8rem;
}

table caption {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--color-grey-2);
  text-align: center;
  border-bottom: 1px solid var(--color-grey-3);
}

/* footnotes */
#footnotediv {
  background-color: var(--color-bg);
  border: 3px double var(--color-grey-3);
  font-size: 0.7em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

#footnotediv > p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

/* misc */

table {
  border-collapse: collapse;
}

tr, td {
  padding: 0;
}

sup {
  vertical-align: super;
  font-size: 0.7em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-primary);
  margin: 1em 0;
  padding: 0;
}

li:target {
  background-color: var(--color-info-bg);
}

.monospace {
  font-family: var(--font-monospace), monospace;
}

/* tags */
.tag {
  color: var(--color-primary);
  text-decoration: none;
  border: none;
}

.tag:hover {
  color: var(--color-primary);
}

.tags > a:not(:last-child):after {
  content: "," !important;
}

/* item lists */
.item-list .item-list-item {
  border-bottom: 1px solid var(--color-grey-4);
}

.item-list .item-list-item:last-child {
  border-bottom: none;
}

.item-list-item {
  display: flex;
  padding: 0.7rem 0;
}

.item-list-left {
  align-items: flex-start;
  justify-content: center;
  vertical-align: top;
  padding: 0 1rem;
}

.item-list-right {
  margin-left: 1rem;
}

@media screen and (min-width: 470px) and (max-width: 699px) {
  .item-list-left {
    padding: 0 0.7rem;
  }
  .item-list-right {
    margin-left: 0.8rem;
  }
}

@media screen and (max-width: 469px) {
  .item-list-item {
    display: block;
    padding: 0.7rem 0;
    margin-left: 0.6rem;
  }
  .item-list-left {
    padding: 0;
  }
  .item-list-right {
    margin-left: 0;
  }
}

.item-list-date {
  color: var(--color-grey-2);
}

.item-list-title {
}

.item-list-description {
  color: var(--color-grey-2);
  font-style: italic;
  font-size: 0.9em;
  margin-top: 0.3rem;
  line-height: 1.2;
}

.item-list-item .tag {
  margin-top: 0.3rem;
  line-height: 1;
  font-size: 0.82em;
}

/* info box and highlights */

.box {
  display: block;
  background-color: var(--color-blue-bg);
  border-left: 0.23em solid var(--color-blue-border);
  padding: 0.2em 0em 0.2em 0.6em;
  font-size: 0.9em;
}

.box.gr {
  border-left: 0.23em solid var(--color-green-border);
}

.box.yl {
  border-left: 0.23em solid var(--color-yellow-border);
}

.box.rd {
  border-left: 0.23em solid var(--color-red-border);
}

.hi {
  background-color: var(--color-yellow-highlight-bg);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.2rem;
}

.bl {
  background-color: var(--color-blue-bg) !important;
}

.gr {
  background-color: var(--color-green-bg) !important;
}

.yl {
  background-color: var(--color-yellow-bg) !important;
}

.rd {
  background-color: var(--color-red-bg) !important;
}

/* code */

pre {
  font-family: var(--font-monospace), monospace;
  font-size: 0.85em;
  font-variant-ligatures: none;
}

p code {
  font-family: var(--font-monospace), monospace;
  font-size: 0.83em;
  font-variant-ligatures: none;
  color: var(--color-inline-code-fg);
  background-color: var(--color-inline-code-bg);
  padding: 0.1rem 0.2rem;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* default pandoc stuff, used in dev */
.skylighting code {
  font-family: var(--font-monospace), monospace;
  font-variant-ligatures: none;
  line-height: 1.5;
}

.skylighting pre {
  background-color: var(--color-code-bg);
  color: var(--color-code-fg);
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 0.5rem 1rem;
}

.highlight  {
  background: var(--color-code-bg) !important;
  color: var(--color-code-fg);
  padding: 0.4rem 1rem;
}

@media screen {
  .highlight {
    overflow: auto;
  }
}

.highlight > pre {
  margin: 0;
}

.highlight .n {
  color: var(--color-code-fg);
}

/* math */

.MathJax_Display {
  margin: 0 !important;
  overflow-y: hidden;
  display: block;
}

/* screen sizes */
@media screen and (min-width: 470px) and (max-width: 699px) {
  html {
    font-size: 17px;
  }
  body {
    padding: 40px;
    margin: auto;
  }
  header {
    margin: 1rem 0 2rem;
  }
  .logo {
    text-align: center;
  }
  .logo a {
    float: none;
    font-size: 1.5em;
  }
  nav {
    margin: 1rem auto;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  #dark-mode-toggle {
    margin: 0 0.6rem;
  }
  .MathJax_Display {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 469px) {
  html {
    font-size: 16px;
  }
  body {
    padding: 20px;
    margin: auto;
  }
  header {
    margin: 1rem 0 2rem;
  }
  .logo {
    text-align: center;
  }
  .logo a {
    float: none;
    font-size: 1.5em;
  }
  nav {
    margin: 1rem auto 0.6rem;
    text-align: center;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
  footer {
    text-align: center;
  }
  #dark-mode-toggle {
    display: block;
    line-height: 1.6;
  }
  .MathJax_Display {
    font-size: 0.9em;
  }
}
