html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  border-top: 1px solid #d1d1d1;
  padding-top: 35px;
  text-align: center;
  color: #757575;
  font-size: 90%;
  bottom: 10px;
  width: 85%;
  height: 60px;
  margin: auto;
  left: 0;
  right: 0;
}
.pagecontent {
  width: 70%;
}
