html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.footer {
  border-top: 1px solid #d1d1d1;
  position: absolute;
  color: #757575;
  font-size: 90%;
  width: 85%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.pagecontent {
  width: 70%;
}
