<div class="item-list">
  {{# posts }}
    <div class="item-list-item">
      <div class="item-list-left">
        <div class="item-list-date">{{ date_short }}</div>
      </div>
      <div class="item-list-right">
        <a class="item-list-title" href="{{ html_file }}">{{ title }}</a>
        {{# description }}
          <div class="item-list-description">{{ . }}</div>
        {{/ description }}
        <div class="tags">
          {{# tags }}
            <a class="tag" href="{{ html_file }}">{{ name }}</a>
          {{/ tags }}
        </div>
      </div>
    </div>
  {{/ posts }}
</div>
