<article>
  <section class="header date">
    Posted on {{ date_long }}
  </section>
  <section class="header tags">
    {{# tags }}
    <a href="{{ html_file }}">{{ name }}</a>
    {{/ tags }}
  </section>
  {{# description }}
  <section class="description">
    {{ . }}
  </section>
  {{/ description }}
  <section class="content">
    {{& content}}
  </section>
</article>