<article>
  <section class="header date">
    Posted on {{ date_long }}
  </section>
  <section class="header">
    <div class="tags">
    {{# tags }}
    <a class="tag" href="{{ html_file }}">{{ name }}</a>
    {{/ tags }}
    </div>
  </section>
  {{# description }}
  <section class="description">
    {{ . }}
  </section>
  {{/ description }}
  <section class="content">
    {{& content}}
  </section>
</article>