<div class="item-list">
  {{# data }}
    <div class="item-list-item">
      <div class="item-list-right">
        <a class="item-list-title" href="{{ link }}">{{ name }}</a>
        <div class="item-list-description">{{ description }}</div>
        {{# docs }}
          <a class="tag" href="{{ . }}">Go to docs</a>
        {{/ docs }}
      </div>
    </div>
  {{/ data }}
</div>
