<p>Here you can find all my past talks:</p>

<div class="item-list">
  {{# data }}
    <div class="item-list-item">
      <div class="item-list-right">
        <a class="item-list-title" href="{{ link }}">{{ name }}</a>
        <div class="item-list-description">{{ date }}</div>
        <a class="tag" href="{{ location_link }}">{{ location }}</a>
      </div>
    </div>
  {{/ data }}
</div>
