---
layout: default
---
<h1>{{ page.title}}</h1>
<p class="subtitle" style="display: inline; padding-right: 0.6rem;">{{ page.date | date: "%B %-d, %Y" }}</p>
{% if site.disqus.shortname %}
&bull;
<span style="font-size: 140%; padding-left: 0.6rem;" onclick="loadDisqusComments()">
  <a href="#disqus_thread" style="color: green;" class="group">
    <span class="disqus-comment-count"
          data-disqus-identifier="{{ page.url || absolute_url }}">
    </span>
  </a>
</span>
{% endif %}

{{ content }}


{% if side.conf.show_comments != false %}
  {% include comments.html %}
{% endif %}
